body{
    margin: 0;
    padding: 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 100vh;
    background-image: url("https://raw.githubusercontent.com/Jappy-code/torneo-de-celulares/main/background-img/city-tecnology.jpg");
    /* background-size: cover; */
    backdrop-filter: blur(5px);
}

/* Div que encierra las dos imagenes grandes */
.large-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 13vh 0 0 0;
}

.large-images .img1{
    grid-column-start: -6;
    grid-column-end: 3;
    text-align: right;
}
.large-images .button-start{
    box-sizing: border-box;
    margin: auto;
    font-size: 5vw;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 10px;
}
.large-images .button-start:hover{
    text-shadow: 5px 5px 10px #ffffff;
    box-shadow: 5px 5px 10px #000000;
}

.large-images .img2{
    grid-column-start: 4;
    grid-column-end: -1;
    text-align: left;
}


/* Estilo para las imagenes grandes */
.large-images div img{
    min-width: 40%;
    max-width: 100%;
    /* aspect-ratio: 9/16; */
    /* filter: blur(10px); */
}

/* Div que encierra las imagenes pequeñas */
.small-images{
    margin: auto;
    max-width: 90vw;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    row-gap: 2vh;
    column-gap: 1vw;
}

/* Imagenes pequeñas */
.small-images img{
    max-width: 100%;
    /* aspect-ratio: 4/4; */
}

.small-images img:active{
    outline: 10px solid #84029e;
}

.small-images img:hover{
    box-shadow: 0 0 30px 14px #f50800;
}

.selected-phone{
    outline: 4px solid #ffe600;
    box-shadow: 0px 0px 20px 20px #000000;
}
.selected-phone2{
    outline: 4px solid #ff0000;
    box-shadow: 0px 0px 20px 20px #000000;
}

.name-smartphone{
    margin-top: 0;
    padding-top: 0;
    font-size: 2vw;
    font-weight: bold;
}